*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back{
  background-image: url(/public/bg1.jpeg);
  width: 287px;
  height: 83vh;
  border-radius: 38px;
  z-index: 20;
  position: absolute;
  top: 46.5%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@font-face {
  font-family: 'CustomFont';
  src: url('/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}