*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back{
  background-image: url(/public/bg1.jpeg);
  width: 287px;
  height: 83vh;
  border-radius: 38px;
  z-index: 20;
  position: absolute;
  top: 46.5%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@media (min-height: 805px) {
  .back {
    width: 85%;
    height: 83vh;
    border-radius: 49px;
  }
}

/* @media (min-height: 875px) {
  .back {
    width: 17%;
    height: 83vh;
    border-radius: 59px;
  }
}
@media (min-height: 912px) {
  .back {
    width: 17.5%;
    height: 83vh;
    border-radius: 59px;
  }
}
@media (min-height: 962px) {
  .back {
    width: 17.5%;
    height: 83vh;
    border-radius: 59px;
  }
} */

@media (min-height: 1280px) {
  .back {
    width: 287px; /* Same size across large screens */
    height: 83vh;
  }
}

@font-face {
  font-family: 'CustomFont';
  src: url('/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}